{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>New Entry</title>
    <link rel="stylesheet" href="{% static 'css/datisstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
           <br>
            <nav class="navbar sticky-top" style="height: 20vh">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'mcdo-home' %}" class="taskbut" role="button"><img src="{% static '/images/task.png' %}"></a>
                    </li>
                </ul>
                <div class="title-header"><img src="{% static '/images/aai.jpg' %}"></div>
            </nav>
    

    {% if edit_entry %}
    <form action='/enter_verify/42/' method="POST">   
        {% csrf_token %}
    <div class="form-group">
        <input type=text placeholder="Topic" name="topic" id="topic" value="{{ mcdo.topic }}" required></input><br>
        <textarea rows="5" cols="20" type=text id="content" placeholder="Content" name="content" value="" required="required">{{ mcdo.content }}</textarea><br>
        <button class="btn btn-success"  type="submit">Submit</button>
    </div>
    </form>
    {% else %}
    <form action='/enter_verify/' method="POST">
        {% csrf_token %}
    <div class="form-group">
        <input type=text placeholder="Topic" id="topic" name="topic" value="" required></input><br>
        <textarea rows="5" cols="20" id="content" type=text placeholder="Content" name="content" value="" required="required"></textarea><br>
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
    </form>
    {% endif %}
</div>
    <script>


$("#topic").on("keyup",function(){
    if($("#topic").val()==""){
        $('#topic').css('border-color', 'red');
            return false;
    }else{
        $('#topic').css('border-color', '#ced4da');
    }
});
$("#content").on("keyup",function(){
    if($("#content").val()==""){
        $('#content').css('border-color', 'red');
            return false;
    }else{
        $('#content').css('border-color', '#ced4da');
    }
});
</script>
</body>
</html>