{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>All Entries</title>
    <link rel="stylesheet" href="{% static 'css/datisstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
   <div class="container">
           <br>
            <nav class="navbar sticky-top" style="height: 20vh">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'mcdo-home' %}" class="taskbut" role="button"><img src="{% static '/images/task.png' %}"></a>
                    </li>
                </ul>
                <div class="title-header"><img src="{% static '/images/aai.jpg' %}"></div>
            </nav>
    <nav class="navbar navbar-expand-sm" style="background-color: #1E27fa; height: 20vh">
        <form method="GET" action='/search/'>
            {% csrf_token %}
            <div class="form-group">
                <input type=text placeholder="Search by Topic/Employee/Content/Airport" name="search" size="132" style="margin: 10vh 0 2vh 0;"></input>
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </form>
    </nav>
   <h6>Note that entries not approved yet are not visible below</h6>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover todaytasks">
                <tr>
                    <th scope="col">Report</th>
                    <th scope="col">Name</th>
                    <th scope="col">Airport</th>
                    <th scope="col">Posting Date</th>
                    <th scope="col">Approval Date</th>
                    <th scope="col">Approved by</th>
                </tr>
            <tbody>
                {% for entry in entry_names %}
                    {% if entry.doa %} 
                    <tr>
                        <td scope="row">
                                {{entry.topic}}<br>
                                <small style="color: rgb(116, 110, 110)">{{entry.content}}</small>
                                </td>
                                <td>{{entry.emp.name}}</td>
                                <td>{{entry.a.name}}</td>
                                <td>{{entry.dop}}</td>
                                <td>{{entry.doa}}</td>
                                <td>{{entry.approved_by.name}}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  

    </div>  
    <!--    {% for entry_name in entry_names %}
        {{ entry_name.topic }} <br>

    {% endfor %}
-->
    </body>
</html>